software/application/src/test/resources/test-data/wsdl/simple-greeting-soap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://example.com/greeting"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/greeting"
                  name="GreetingService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/greeting">
      <xsd:complexType name="SayHello">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SayHelloResponse">
        <xsd:sequence>
          <xsd:element name="greeting" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloRequest">
    <wsdl:part name="parameters" element="tns:SayHello"/>
  </wsdl:message>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part name="parameters" element="tns:SayHelloResponse"/>
  </wsdl:message>
  <wsdl:portType name="GreetingPortType">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloRequest"/>
      <wsdl:output message="tns:SayHelloResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetingBinding" type="tns:GreetingPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://example.com/greeting/SayHello"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetingService">
    <wsdl:port name="GreetingPort" binding="tns:GreetingBinding">
      <soap12:address location="http://example.com/greeting"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
