software/infra/aws/generation/src/test/resources/wsdl/calculator-soap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://example.com/calculator-service"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/calculator-service"
                  name="CalculatorService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/calculator-service">
      <xsd:complexType name="AddRequest">
        <xsd:sequence>
          <xsd:element name="a" type="xsd:double"/>
          <xsd:element name="b" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubtractRequest">
        <xsd:sequence>
          <xsd:element name="a" type="xsd:double"/>
          <xsd:element name="b" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubtractResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MultiplyRequest">
        <xsd:sequence>
          <xsd:element name="a" type="xsd:double"/>
          <xsd:element name="b" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MultiplyResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddRequestMsg"><wsdl:part name="parameters" element="tns:AddRequest"/></wsdl:message>
  <wsdl:message name="AddResponseMsg"><wsdl:part name="parameters" element="tns:AddResponse"/></wsdl:message>
  <wsdl:message name="SubtractRequestMsg"><wsdl:part name="parameters" element="tns:SubtractRequest"/></wsdl:message>
  <wsdl:message name="SubtractResponseMsg"><wsdl:part name="parameters" element="tns:SubtractResponse"/></wsdl:message>
  <wsdl:message name="MultiplyRequestMsg"><wsdl:part name="parameters" element="tns:MultiplyRequest"/></wsdl:message>
  <wsdl:message name="MultiplyResponseMsg"><wsdl:part name="parameters" element="tns:MultiplyResponse"/></wsdl:message>
  <wsdl:portType name="CalculatorPortType">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddRequestMsg"/>
      <wsdl:output message="tns:AddResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input message="tns:SubtractRequestMsg"/>
      <wsdl:output message="tns:SubtractResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input message="tns:MultiplyRequestMsg"/>
      <wsdl:output message="tns:MultiplyResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorBinding" type="tns:CalculatorPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://example.com/calculator-service/Add"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap12:operation soapAction="http://example.com/calculator-service/Subtract"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap12:operation soapAction="http://example.com/calculator-service/Multiply"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="CalculatorPort" binding="tns:CalculatorBinding">
      <soap12:address location="http://example.com/calculator-service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
