software/infra/aws/generation/src/test/resources/wsdl/nested-xsd-soap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://example.com/nested"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/nested"
                  name="NestedService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/nested">
      <xsd:complexType name="GetReport">
        <xsd:sequence><xsd:element name="reportId" type="xsd:string"/></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetReportResponse">
        <xsd:sequence><xsd:element name="report" type="tns:Report"/></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Report">
        <xsd:sequence>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="author" type="tns:Author"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Author">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="contact" type="tns:Contact"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Contact">
        <xsd:sequence>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="phone" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetReportRequest"><wsdl:part name="parameters" element="tns:GetReport"/></wsdl:message>
  <wsdl:message name="GetReportResponse"><wsdl:part name="parameters" element="tns:GetReportResponse"/></wsdl:message>
  <wsdl:portType name="ReportPortType">
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportRequest"/>
      <wsdl:output message="tns:GetReportResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportBinding" type="tns:ReportPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetReport">
      <soap12:operation soapAction="http://example.com/nested/GetReport"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NestedService">
    <wsdl:port name="ReportPort" binding="tns:ReportBinding">
      <soap12:address location="http://example.com/nested"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
