software/application/src/test/resources/wsdl/empty-element-soap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://example.com/empty"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/empty"
                  name="EmptyService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/empty">
      <xsd:element name="EmptyElement"/>
      <xsd:element name="Ping">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PingRequest">
    <wsdl:part name="parameters" element="tns:Ping"/>
  </wsdl:message>
  <wsdl:message name="PingResponse">
    <wsdl:part name="parameters" element="tns:Ping"/>
  </wsdl:message>
  <wsdl:portType name="EmptyPortType">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingRequest"/>
      <wsdl:output message="tns:PingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmptyBinding" type="tns:EmptyPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://example.com/empty/Ping"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmptyService">
    <wsdl:port name="EmptyPort" binding="tns:EmptyBinding">
      <soap12:address location="http://example.com/empty"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
