software/application/src/test/resources/wsdl/missing-type-ref-soap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://example.com/missing"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/missing"
                  name="MissingRefService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/missing">
      <xsd:element name="BadElement" type="tns:NonExistentType"/>
      <xsd:element name="GoodElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="data" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestRequest">
    <wsdl:part name="parameters" element="tns:GoodElement"/>
  </wsdl:message>
  <wsdl:message name="TestResponse">
    <wsdl:part name="parameters" element="tns:GoodElement"/>
  </wsdl:message>
  <wsdl:portType name="TestPortType">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestRequest"/>
      <wsdl:output message="tns:TestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestBinding" type="tns:TestPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://example.com/missing/Test"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissingRefService">
    <wsdl:port name="TestPort" binding="tns:TestBinding">
      <soap12:address location="http://example.com/missing"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
