software/application/src/test/resources/wsdl/multi-porttype-soap11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/multiport"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/multiport"
                  name="MultiPortService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/multiport">
      <xsd:complexType name="GetUser">
        <xsd:sequence><xsd:element name="userId" type="xsd:string"/></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetUserResponse">
        <xsd:sequence><xsd:element name="name" type="xsd:string"/></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetProduct">
        <xsd:sequence><xsd:element name="productId" type="xsd:string"/></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetProductResponse">
        <xsd:sequence><xsd:element name="title" type="xsd:string"/></xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetUserRequest"><wsdl:part name="parameters" element="tns:GetUser"/></wsdl:message>
  <wsdl:message name="GetUserResponse"><wsdl:part name="parameters" element="tns:GetUserResponse"/></wsdl:message>
  <wsdl:message name="GetProductRequest"><wsdl:part name="parameters" element="tns:GetProduct"/></wsdl:message>
  <wsdl:message name="GetProductResponse"><wsdl:part name="parameters" element="tns:GetProductResponse"/></wsdl:message>
  <wsdl:portType name="UserPortType">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserRequest"/>
      <wsdl:output message="tns:GetUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProductPortType">
    <wsdl:operation name="GetProduct">
      <wsdl:input message="tns:GetProductRequest"/>
      <wsdl:output message="tns:GetProductResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserBinding" type="tns:UserPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://example.com/multiport/GetUser"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductBinding" type="tns:ProductPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://example.com/multiport/GetProduct"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiPortService">
    <wsdl:port name="UserPort" binding="tns:UserBinding">
      <soap:address location="http://example.com/multiport/user"/>
    </wsdl:port>
    <wsdl:port name="ProductPort" binding="tns:ProductBinding">
      <soap:address location="http://example.com/multiport/product"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
